<!-- Contact slide -->
<div class="contact">
  <div class="blur"></div>
  <div class="wrapper">
    <div class="content">
      <div class="top">
        <p>Use this form to describe your project</p>
        <img id="frame" class="close2" src="../public/images/component-7.png" alt="" srcset="" />
      </div>
      <div class="form">
        <p>
          Hi, my name is <span><input type="name" name="name" placeholder="Harry Maguire" /> </span>. You can answer me
          on this email <span> <input type="email" name="email" placeholder="email@example.com" /> </span>. I am looking
          for help with a <span><input type="text" name="text" placeholder="website, design, etc" /> </span>. My budget
          is £ <span><input type="number" placeholder="1000£" /> </span> and I need it done by
          <span><input type="text" placeholder="May 31, 2023" /> </span>.
        </p>
        <div class="contact_btn">
          <div class="button" id="frame">
            <a href="#a" class="m-flip js-flip">
              <span class="m-flip_item">All Works</span>
              <span class="m-flip_item">All Works</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <ul>
      <li>
        <a id="frame" href="#a" class="m-flip js-flip">
          <span class="m-flip_item">Instagram</span>
          <span class="m-flip_item">Instagram</span>
        </a>
      </li>
      <li>
        <a id="frame" href="#a" class="m-flip js-flip">
          <span class="m-flip_item">Facebook</span>
          <span class="m-flip_item">Facebook</span>
        </a>
      </li>
      <li>
        <a id="frame" href="#a" class="m-flip js-flip">
          <span class="m-flip_item">henry_james@mail.com</span>
          <span class="m-flip_item">henry_james@mail.com</span>
        </a>
      </li>
    </ul>
  </div>
</div>
