<!-- responsive nav -->
<div class="responsive_nav">
  <div class="close">
    <img src="../public/images/component-13.png" alt="" srcset="" />
  </div>
  <div class="resLinks">
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="case.html">Case</a></li>
      <li><a href="#a" class="active">About</a></li>
      <li><a href="#a" class="btnc">Contacts</a></li>
    </ul>
    <div class="social">
      <p>Social</p>
      <ul>
        <li>
          <a href="#a">TW</a>
        </li>
        <li>
          <a href="#a">IG</a>
        </li>
        <li>
          <a href="#a">BE</a>
        </li>
        <li>
          <a href="#a">DRIB</a>
        </li>
      </ul>
    </div>
  </div>
</div>
