// Define font-families
@font-face {
  font-family:
    Visby CF,
    sans-serif;
  src:
    url(../../../assets/fonts/visby/VisbyCF-Thin.woff) format('woff'),
    url(../../../assets/fonts/visby/VisbyCF-Thin.woff2) format('woff2');
  font-weight: 200;
}
@font-face {
  font-family:
    Visby CF,
    sans-serif;
  src:
    url(../../../assets/fonts/visby/VisbyCF-Light.woff) format('woff'),
    url(../../../assets/fonts/visby/VisbyCF-Light.woff2) format('woff2');
  font-weight: 300;
}
@font-face {
  font-family:
    Visby CF,
    sans-serif;
  src:
    url(../../../assets/fonts/visby/VisbyCF-Regular.woff) format('woff'),
    url(../../../assets/fonts/visby/VisbyCF-Regular.woff2) format('woff2');
  font-weight: 400;
}
@font-face {
  font-family:
    Visby CF,
    sans-serif;
  src:
    url(../../../assets/fonts/visby/VisbyCF-Medium.woff) format('woff'),
    url(../../../assets/fonts/visby/VisbyCF-Medium.woff2) format('woff2');
  font-weight: 500;
}
@font-face {
  font-family:
    Visby CF,
    sans-serif;
  src:
    url(../../../assets/fonts/visby/VisbyCF-DemiBold.woff) format('woff'),
    url(../../../assets/fonts/visby/VisbyCF-DemiBold.woff2) format('woff2');
  font-weight: 600;
}
@font-face {
  font-family:
    Visby CF,
    sans-serif;
  src:
    url(../../../assets/fonts/visby/VisbyCF-Bold.woff) format('woff'),
    url(../../../assets/fonts/visby/VisbyCF-Bold.woff2) format('woff2');
  font-weight: 700;
}
@font-face {
  font-family:
    Visby CF,
    sans-serif;
  src:
    url(../../../assets/fonts/visby/VisbyCF-ExtraBold.woff) format('woff'),
    url(../../../assets/fonts/visby/VisbyCF-ExtraBold.woff2) format('woff2');
  font-weight: 800;
}
@font-face {
  font-family:
    Visby CF,
    sans-serif;
  src:
    url(../../../assets/fonts/visby/VisbyCF-Heavy.woff) format('woff'),
    url(../../../assets/fonts/visby/VisbyCF-Heavy.woff2) format('woff2');
  font-weight: 900;
}

// Tokens
.text {
  &__display {
    font-size: 7.5rem;
    font-weight: 500;
    line-height: 7.5rem;
    letter-spacing: -0.375rem;
  }
  &__h1 {
  }
  &__h2 {
  }
  &__h3 {
    font-size: 3rem;
    line-height: 4.5rem;
    letter-spacing: -0.06rem;
    font-weight: 300;
  }
  &__h4 {
  }
  &__h5 {
  }
  &__lead {
  }
  &__body {
    &-sm {
      line-height: 1.4375rem;
      letter-spacing: -0.0375rem;
    }

    &-md {
    }
    &-lg {
    }
  }
}

// Base typography styles
body {
  font-family: 'Visby CF', sans-serif;
  font-weight: var(--defalut-font-weight);
  /*font-size: 16px;*/
  line-height: 1.7;
  //color: $color-grey-dark;
  //padding: 3rem;
}
